<!-- <div #canvas class="canvas-container"></div>
  -->
  <!-- <div #background class="threejs-container"></div> -->

  <!-- <div class="homepage-container">
 
    <nav class="navbar navbar-dark bg-transparent">
      <div class="container-fluid">
        <div class="d-flex ms-auto">
          <button class="btn btn-outline-primary me-2" [@slideIn] routerLink="/login">Login</button>
          <button class="btn btn-outline-success me-2" [@slideIn] routerLink="/signup">Signup</button>
          <button class="btn btn-outline-info" [@slideIn] routerLink="/view-tasks">View Task</button>
        </div>
      </div>
    </nav>
  
   
    <div class="main-content text-center">
      <h1 class="text-white fw-bold display-4" [@fadeIn]>Grishma Suryawanshi</h1>
      <p class="text-white fs-5 fst-italic" [@fadeIn]>
        Full Stack Developer (SUN Integrated Technologies & Applications)
      </p>
  
      <button class="btn btn-primary px-4 py-2 mt-3" [@slideIn]>About Me →</button>
    </div>
  
  
    <div class="footer text-center mt-5">
      <button class="btn btn-dark px-4 py-2" [@slideIn]>Latest Works</button>
    </div>
  </div> -->
  <!-- <div class="content text-center text-white">
    <h1>Welcome to Task Manager</h1>
    <p>Manage your tasks efficiently</p>
  </div> -->

   <nav class="navbar navbar-dark bg-transparent">
     <div class="container-fluid">
   <div class="d-flex ms-auto">
        <button type="button" class="btn btn-outline-primary me-2" routerLink="/auth/login" [@slideIn]>Login</button>
       <button class="btn btn-outline-success me-2"  routerLink="/auth/register" [@slideIn]>Signup</button>
        <button class="btn btn-outline-info"  routerLink="/task" [@slideIn]>View Task</button> 
      </div>
    </div>
  </nav> 
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="content text-center">
      <h1>Welcome to Task Manager</h1>
      <p>Manage your tasks efficiently</p>
    </div>
  </div>
